body
{
    font-size: 75%;
    font-family: Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    color: #333;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

h1
{
    padding: 0;
    margin: 0 0 10px 0;
    color: #555;
}

h2
{
    padding: 0;
    margin: 0 0 5px 0;
    color: #777;
}

a, a:visited
{
    color: #0000cc;
}


#title
{
    color: #333;
    font-size: 24pt;
    font-style: italic;
}

#headerRow
{
    background-color: #efefef;
    padding: 10px;
    border: solid 2px #ccc;
}

#version
{
    color: #333;
    font-size: 14pt;
    margin-left: 10px;
}

#content
{
    margin: 5px;
    padding: 5px;
}

.clear
{
    clear: both;
}

a.button:hover, input.button:hover
{
    background-color: #efefef;
}

a.button, input.button
{
    padding: 3px 5px;
    border: solid 1px #ccc;
    min-width: 80px;
    float: left;
    text-align: center;
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    color: #555;
    cursor: pointer;
    background-color: transparent;
}

a.cancel
{
}


input.save
{
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
    color: #777;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #cc0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #cc0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #cc0000;
}

.validation-summary-valid
{
    display: none;
}

table
{
    border-collapse: collapse;
}

td
{
    padding: 3px 5px;
}

th
{
    background-color: #efefef;
    color: #333;
    text-align: center;
    padding: 3px 5px;
}

input
{
    padding: 3px 5px;
    border: solid 1px #ccc;
    background: #efefef;
}

.alignRight
{
    text-align: right;
}
