﻿@model dynamic
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ClosePage</title>
    <script src="../../Scripts/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (parent.$.fancybox) {
                parent.$.fancybox.close();
            }
        });
    </script>   
</head>
<body>
    <div>
        Closing...
    </div>
</body>
</html>
