﻿@model Dogwood.Web.Mvc.Models.Home.EnumViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family: Courier New">
    public enum StringAttribute : int<br />
    {<br />
    @for (int i = 0; i < Model.StringAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.StringAtts[i].Value)<text> = </text>@(Model.StringAtts[i].Id.ToString())if (i != Model.StringAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
    public enum IntegerAttribute : int<br />
    {<br />
    @for (int i = 0; i < Model.IntAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.IntAtts[i].Value)<text> = </text>@(Model.IntAtts[i].Id.ToString())if (i != Model.IntAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
    public enum LongAttribute : int<br />
    {<br /><br />
    @for (int i = 0; i < Model.LongAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.LongAtts[i].Value)<text> = </text>@(Model.LongAtts[i].Id.ToString())if (i != Model.LongAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
    public enum BoolAttribute : int<br />
    {<br /><br />
    @for (int i = 0; i < Model.BoolAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.BoolAtts[i].Value)<text> = </text>@(Model.BoolAtts[i].Id.ToString())if (i != Model.BoolAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
    public enum DateTimeAttribute : int<br />
    {<br /><br />
    @for (int i = 0; i < Model.DateAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.DateAtts[i].Value)<text> = </text>@(Model.DateAtts[i].Id.ToString())if (i != Model.DateAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
    public enum RevisionAttribute : int<br />
    {<br /><br />
    @for (int i = 0; i < Model.RevAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.RevAtts[i].Value)<text> = </text>@(Model.RevAtts[i].Id.ToString())if (i != Model.RevAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
     public enum ForeignKeyAttribute : int<br />
    {<br /><br />
    @for (int i = 0; i < Model.FkAtts.Count; i++)
    {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@(Model.FkAtts[i].Value)<text> = </text>@(Model.FkAtts[i].Id.ToString())if (i != Model.FkAtts.Count - 1)
                                                                                        {<text>,<br /></text>}
    }
    <br />
    }
    <br /><br />
</div>
