﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Dogwood Data Management</h1>
<h2>
    Data Attributes</h2>
<ul>
    <li><a href="/Attribute/Index">Attributes</a></li>
     <li><a href="/Attribute/Enums">Attribute Enums</a></li>
</ul>
<h2>
    Revisions</h2>
<ul>
    <li><a href="/Revision/Index">Revision Graph</a></li>
</ul>
<h2>
    Classes</h2>
<ul>
    <li><a href="/Class/Index">Class Types</a></li>
    <li><a href="/Class/ClassMeta">Class Metadata Report</a></li>
     <li><a href="/Class/AllEntities">Entity Code</a></li>
    <li><a href="/Class/AllPrefetches">Entity Prefetches</a></li>
    <li><a href="/Class/Enums">Class Enums</a></li>    
    <li><a href="/AttributeMeta/Enums">Relation Enums</a></li>
</ul>
<h2>
    Objects</h2>
<ul>
    <li><a href="/Object/Index">By Type</a></li>
</ul>
