﻿@model Dogwood.Web.Mvc.Models.Attribute.AttributeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@section cphHeadContent {

}
<h1>
    Create New Attribute</h1>
    @Html.ValidationSummary()
@using (Html.BeginForm())
{       
    <fieldset>
    <legend>New Attribute</legend>
    <table>       
        <tr>
            <td>
                Attribute Name:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Value) <br />
                @Html.ValidationMessageFor(m=>m.Value)
            </td>
        </tr>
    </table> 
    </fieldset>
    <div class="clear"></div>
    <a class="button cancel" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>
    <input type="submit" value="Save" class="button save" />
}
