﻿@model Dogwood.Web.Mvc.Models.Attribute.AttributeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Delete Attribute</h1>
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Id:
            </td>
            <td>@Html.Encode(Model.Id)
            </td>
        </tr>
        <tr>
            <td>
                Value:
            </td>
            <td>
               @Html.Encode(Model.Value)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.Id)  
    @Html.HiddenFor(m => m.Value)
    <a class="cancelButton" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>         
    <input type="submit" value="Delete" />
}
