﻿@model Dogwood.Web.Mvc.Models.Attribute.AttributeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Edit Attribute</h1>
@using (Html.BeginForm())
{       
    <fieldset>
        <legend>Edit Attribute</legend>
        <table>
            <tr>
                <td>
                    Id:
                </td>
                <td>@Html.Encode(Model.Id)
                </td>
            </tr>
            <tr>
                <td>
                    Value:
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Value)
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="clear"></div>
    @Html.HiddenFor(m => m.Id)  
    <a class="button cancel" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>     
    @Html.ActionLink("Delete", "Delete", new { id = @Model.Id }, new { @class="button delete"})
    <input type="submit" value="Save" class="button save" />
}
