﻿@model Dogwood.Web.Mvc.Models.Attribute.EnumsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{   
}
<div style="font-family: Consolas">
    
    public enum DogwoodAttributes
    <br />
    {
    <br />
    @foreach (var cla in Model.Attributes)
    {
        if(cla != Model.Attributes.Last())
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.Value<text> = </text>@cla.Id<text>,</text><br />
        }
        else
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.Value<text> = </text>@cla.Id<br />
        }
    }     
    }
</div>
