﻿@model Dogwood.Web.Mvc.Models.Attribute.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {      
    <link href="/Content/Fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_iframe();
        });

        function Init_iframe() {
            $(".iframe").fancybox({
                'height': 350,
                'width': 600,
                'onClosed': function () {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: "/Attribute/IndexTable",
                        success: function (data) {
                            $("#attributeList").html(data);
                            Init_iframe();
                        }
                    });
                }
            });
        }
    </script>
}
<h1>
    Attributes</h1>
    <a href="/Home">Home</a>
@Html.ActionLink("Create New", "Create", null, new { @class = "iframe" })
<div id="attributeList">
    @Html.Partial("IndexTable", Model)
</div>
