﻿@model Dogwood.Web.Mvc.Models.Attribute.IndexViewModel
<ul>
    @foreach (var item in Model.Attributes)
    {
        <li>@Html.ActionLink(item.Value, "Edit", new { item.Id }, new { @class = "iframe" })</li>
    }
</ul>
