﻿@model Dogwood.Web.Mvc.Models.ForeignKeyMeta.CreateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Create ForeignKey Attribute</h1>
@Html.ValidationSummary()
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Attribute:
            </td>
            <td>
                @Html.DropDownListFor(m => m.ForeignKeyAttributeId, Model.ForeignKeyAttributeList)
                 @Html.ValidationMessageFor(m => m.ForeignKeyAttributeId)
            </td>
        </tr>
        <tr>
            <td>
                Related Class:
            </td>
            <td>
                @Html.DropDownListFor(m => m.PkClassId, Model.ForeignKeyClassList)
                 @Html.ValidationMessageFor(m => m.PkClassId)
            </td>
        </tr>
        <tr>
            <td>
                Is Nullable:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsNullable)
                 @Html.ValidationMessageFor(m => m.IsNullable)
            </td>
        </tr>
        <tr>
            <td>
                One to Many Value:
            </td>
            <td>
                @Html.TextBoxFor(m => m.OneToManyValue)
                @Html.ValidationMessageFor(m => m.OneToManyValue)
            </td>
        </tr>
        <tr id="defaultValueRow">
            <td>
                Default Value for existing items:
            </td>
            <td>
                @Html.TextBoxFor(m => m.DefaultValue)
                   @Html.ValidationMessageFor(m => m.DefaultValue)
            </td>
        </tr>
        <tr>
            <td>
                Cascade Behavior
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedBehaviorType, Model.CascadeBehaviors)
                  @Html.ValidationMessageFor(m => m.SelectedBehaviorType)
            </td>
        </tr>
        <tr>
            <td>
                Default Cascade Object Id
            </td>
            <td>
                @Html.TextBoxFor(m => m.CascadeDefaultValue)
                   @Html.ValidationMessageFor(m => m.CascadeDefaultValue)
            </td>
        </tr>
    </table> 
    @Html.HiddenFor(m => m.ClassId)
    @Html.HiddenFor(m => m.Id)
    <a class="cancelButton" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    <input type="submit" value="Save" />
}
