﻿@model Dogwood.Data.EntityClasses.RelationshipMetadataEntity
<div style="font-family:Courier New; font-size:13px">
    <span style="color: #009900">-- create metadata for '@Model.Attribute.Value' relationship</span><br />
    insert into tblAttributeMetadata values (@Model.PkClassId, @Model.FkClassId, @Model.AttributeId, @if(Model.IsNullable){<text>1</text>}else{<text>0</text>}, '@Model.OneToManyValue', @Model.CascadeBehavior, @if(Model.CascadeDefaultValue == null){<text>NULL</text>}else{Html.Raw(Model.CascadeDefaultValue.ToString());}, @if (Model.IsImmutable){<text>1</text>}else{<text>0</text>})<br />
</div>
