﻿@model Dogwood.Web.Mvc.Models.ForeignKeyMeta.EditViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Edit Foreign Key Attribute</h1>
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Attribute:
            </td>
            <td>
                @Html.Encode(Model.FkAttribute)
            </td>
        </tr>
        <tr>
            <td>
                Is Nullable:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsNullable)
            </td>
        </tr>
        <tr>
            <td>
                One to Many Value:
            </td>
            <td>
                @Html.TextBoxFor(m => m.OneToManyValue)
                @Html.ValidationMessageFor(m => m.OneToManyValue)
            </td>
        </tr>
        <tr id="defaultValueRow">
            <td>
                Default Value:
            </td>
            <td>
                @Html.TextBoxFor(m => m.DefaultValue)
            </td>
        </tr>
        <tr>
            <td>
                Cascade Behavior
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedBehaviorType, Model.CascadeBehaviors)
            </td>
        </tr>
        <tr>
            <td>
                Default Cascade Object Id
            </td>
            <td>
                @Html.TextBoxFor(m => m.CascadeDefaultValue)
            </td>
        </tr>
    </table> 
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ClassId)
    @Html.HiddenFor(m => m.PkClassId)
    <a class="cancel button" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "delete button" })
    <input type="submit" value="Save" class="save button" />
}
