﻿@model Dogwood.Web.Mvc.Models.Object.DetailsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{
}
<h1>
    @Model.Obj.Class.Name (Object Id @Model.Obj.Id) Details</h1>
@Html.ActionLink("Back", "Type", new { id = Model.Obj.ClassId })
<table>
    <tr>
        <th>
            Object-Revision Id
        </th>
        <th>
            TimeStamp
        </th>
        <th>
            Created By
        </th>
        <th>
            Comments
        </th>
        <th>
            IsDeleted
        </th>
        @foreach (var item in Model.Obj.Class.AttributeMetadata.OrderBy(m => m.Id))
        {
            <th>@item.Attribute.Value
            </th>
        }       
        @foreach (var item in Model.Obj.Class.RelationshipMetadataAsFk.OrderBy(m => m.Id))
        {
            <th>@item.Attribute.Value
            </th>
        }
    </tr>
    @foreach (var objRev in Model.Obj.ObjectRevision)
    {
        <tr>
            <td>
                @objRev.Id
            </td>
            <td>@objRev.Revision.TimeStamp
            </td>
            <td>@objRev.Revision.CreatedBy
            </td>
            <td>@objRev.Revision.Comments
            </td>
            <td>@objRev.IsDeleted
            </td>
            @foreach (var item in Model.Obj.Class.AttributeMetadata.OrderBy(m => m.Id))
            {
                <td>@Html.Encode(objRev.AttributeValue.Where(m => m.AttributeMetadataId == item.Id).SingleOrDefault() == null ? "null" :
                  objRev.AttributeValue.Where(m => m.AttributeMetadataId == item.Id).Single().Value.ToString())
                </td>
            }            
            @foreach (var item in Model.Obj.Class.RelationshipMetadataAsFk.OrderBy(m => m.Id))
            {
                <td>@Html.Encode(objRev.RelationAttributeValue.Where(m => m.RelationshipMetadataId == item.Id).SingleOrDefault() == null ? "null" :
                            objRev.RelationAttributeValue.Where(m => m.RelationshipMetadataId == item.Id).Single().Value.ToString())
                </td>
            }
        </tr>
    }
</table>
