﻿@model Dogwood.Web.Mvc.Models.Object.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{

}
<h1>
    Class Types</h1>
    <a href="/">Home</a>
    <table>
    @foreach (var item in Model.Classes)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Class", new { item.Id }, null)
            </td>
            <td>
                @if(item.Object.Count > 0)
                {
                    @Html.ActionLink(string.Format("View {0} objects", item.Object.Count), "Type", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>

