﻿@model Dogwood.Web.Mvc.Models.Object.ObjectRevisionViewModel
@section cphHeadContent{
    <style type="text/css">
        .attRow
        {
            background-color: #efefef;
        }
    </style>
}
<h1>
    Object Revision @Model.ObjRev.Id Details</h1>
<table>
    <tr>
        <td colspan="3" class="attRow">
            String Attributes
        </td>
    </tr>
    @foreach (var item in Model.ObjRev.Object.Class.AttributeMetadata)
    {
        <tr>
            <td colspan="2">
                @Html.Encode(item.Attribute.Value)
            </td>
            <td>
                @Html.Encode(Model.ObjRev.AttributeValue.Where(m => m.AttributeMetadataId == item.Id).FirstOrDefault() == null ? "null" : Model.ObjRev.AttributeValue.Where(m => m.AttributeMetadataId == item.Id).FirstOrDefault().Value.ToString())
            </td>
        </tr>
    }
    
</table>
