﻿@model Dogwood.Web.Mvc.Models.Object.TypeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{

}
<h1>
    @Model.ClassType Objects</h1>
    <a href="/Object/Index">Back</a>
    <table>
    @foreach (var item in Model.Objects)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Id.ToString(), "Details", new { item.Id })
            </td>
            <td>               
                    @Html.Encode(string.Format("{0} revisions", item.ObjectRevision.Count))                
            </td>
        </tr>
    }
</table>

