﻿@model Dogwood.Web.Mvc.Models.AttributeMeta.CreateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
    
}
<h1>
    Create Attribute</h1>
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Attribute:
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedAttributeId, Model.AttributeSelectList)
            </td>
        </tr>
        <tr>
            <td>
                Data Type:
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedDataTypeId, Model.DataTypeSelectList)
            </td>
        </tr>
        <tr>
            <td>
                Is Nullable:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsNullable)
            </td>
        </tr>
        <tr id="defaultValueRow">
            <td>
                Default Value:
            </td>
            <td>
                @Html.TextBoxFor(m => m.DefaultValue)
            </td>
        </tr>
    </table> 
    @Html.HiddenFor(m=>m.ClassId)
    <a class="cancelButton" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    <input type="submit" value="Save" />
}
