﻿@model Dogwood.Data.EntityClasses.AttributeMetadataEntity
<div style="font-family:Courier New; font-size:13px">
    <span style="color: #009900">-- create metadata for '@Model.Attribute.Value' attribute</span><br />
    insert into tblAttributeMetadata values (@Model.ClassId, @Model.DataTypeId, @Model.AttributeId, @if(Model.IsNullable){<text>1</text>}else{<text>0</text>}, @if(Model.IsImmutable){<text>1</text>}else{<text>0</text>})<br />
</div>
