﻿@model Dogwood.Web.Mvc.Models.AttributeMeta.DeleteViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
    
}
<h1>
    Delete String Attribute</h1>
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Attribute:
            </td>
            <td>
                @Html.Encode(Model.Attribute)
            </td>
        </tr>
    </table> 
    @Html.HiddenFor(m=>m.Id)
    <a class="cancel button" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    <input type="submit" value="Delete" class="delete button" />
}
