﻿@model Dogwood.Web.Mvc.Models.AttributeMeta.EditViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Edit String Attribute</h1>
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Attribute:
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedAttributeId, Model.AttributeSelectList)
            </td>
        </tr>
        <tr>
            <td>
                Data Type:
            </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedDataTypeId, Model.DataTypeSelectList)
            </td>
        </tr>
        <tr>
            <td>
                Is Nullable:
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsNullable)
            </td>
        </tr>
        <tr id="defaultValueRow">
            <td>
                Default Value:
            </td>
            <td>
                @Html.TextBoxFor(m => m.DefaultValue)
            </td>
        </tr>
    </table> 
    @Html.HiddenFor(m => m.Id)
    <a class="cancel button" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "delete button" })
    <input type="submit" value="Save" class="save button" />
}
