﻿@model Dogwood.Web.Mvc.Models.AttributeMeta.EnumsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{   
}
<div style="font-family: Consolas">
    
    public enum DogwoodRelationMetadata
    <br />
    {
    <br />
    @foreach (var cla in Model.RelationshipMetadata)
    {
        if (cla != Model.RelationshipMetadata.Last())
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.FkClass.Name<text>_</text>@cla.Attribute.Value<text> = </text>@cla.Id<text>,</text><br />
        }
        else
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.FkClass.Name<text>_</text>@cla.Attribute.Value<text> = </text>@cla.Id<br />
        }
    }     
    }
     <br /> <br />
     public enum DogwoodAttributeMetadata
    <br />
    {
    <br />
    @foreach (var cla in Model.AttributeMetadata)
    {
        if (cla != Model.AttributeMetadata.Last())
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.Class.Name<text>_</text>@cla.Attribute.Value<text> = </text>@cla.Id<text>,</text><br />
        }
        else
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.Class.Name<text>_</text>@cla.Attribute.Value<text> = </text>@cla.Id<br />
        }
    }     
    }
</div>
