﻿@model Dogwood.Web.Mvc.Models.Class.AllEntitiesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family: Consolas">
    @foreach (var item in Model.AllClassTypes)
    {
        <text>public partial class</text> @(item.Class.Name)<text>Entity</text>
        <br />
        <text>{</text>
        @Html.Partial("EntityPrefetchCode", item)
        <br />
        <text>}</text>
        <br />
        <br />
    }
</div>
