﻿@model Dogwood.Web.Mvc.Models.Class.ClassMetaViewModel
@{
    ViewBag.Title = "ClassMeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Dogwood Class Metadata</h2>
<table>
     <tr>
            <th colspan="3">
                &nbsp;
            </th>           
            <th style="text-align:right">
                Data Type
            </th>
            <th style="text-align:right">
                Is Nullable
            </th>
            <th style="text-align:right">
               Is Immutable
            </th>
        </tr>
    @foreach (var item in Model.AllClasses)
    {
    
        <tr class="classRow">
            <td class="alignRight">
                @Html.Encode(item.Id)
            </td>
            <td colspan="5">
                @Html.Encode(item.Name)
            </td>
        </tr>

        foreach (var meta in item.AttributeMetadata)
        {
            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="alignRight">
                    <span title="AttributeMetadataId" style="color:#296E8E">@Html.Encode(meta.Id)</span>
                </td>
                <td>
                    @Html.Encode(meta.Attribute.Value)
                </td>
                <td style="text-align:right">
                    @Html.Encode(Dogwood.Service.AttributeMetadataService.GetDataType((Dogwood.Core.DogwoodDataType)meta.DataTypeId))
                </td>
                <td style="text-align:right">
                    @Html.Encode(meta.IsNullable)
                </td>
                <td style="text-align:right">
                    @Html.Encode(meta.IsImmutable)
                </td>
            </tr>
        }

        foreach (var meta in item.RelationshipMetadataAsFk)
        {

            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="alignRight">
                   <span title="RelationMetadataId" style="color:#84A530">@Html.Encode(meta.Id)</span> 
                </td>
                <td>
                    @Html.Encode(meta.Attribute.Value)
                </td>
                <td  colspan="3">&nbsp;</td>
            </tr>
            
        }

    }
</table>
@section cphHeadContent
{
    <style type="text/css">
        .classRow
        {
            font-weight: bold;
            color: #CC0000;
            font-style: italic;
        }
        
        .metaRow
        {
            margin-left: 20px;
        }
        
        .relationRow
        {
            margin-left: 20px;
            color: #00CC00;
        }
    </style>
}
