﻿@using Dogwood.Core
@model Dogwood.Web.Mvc.Models.Class.CreateObjectSqlViewModel
<div style="font-family: Courier New; font-size: 13px">
    <span style="color: #009900">-- create new @Model.ClassName object</span><br />
    insert into tblObject (ClassId) values (@Model.ClassId)
    <br />
    declare @@objRevId int
    <br />
    insert into tblObjectRevision (ObjectId, RevisionId, IsDeleted) values (SCOPE_IDENTITY(), <span style="color: #cc0000">#REVISION_ID#</span>, 0)<br />
    set @@objRevId = SCOPE_IDENTITY()<br />
    <br />
    <span style="color: #009900">-- required attribute values</span><br />
    @foreach (var meta in Model.AttributeMeta.Where(m => m.IsNullable == false))
    {
        switch ((DogwoodDataType)meta.DataTypeId)
        {
            case DogwoodDataType.String:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">'VALUE'</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span> <br />            
                                                                                                                                                                                                                                                   break;
            case DogwoodDataType.Int:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">0</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                  break;
            case DogwoodDataType.Long:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">cast(0 as bigint)</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                  break;
            case DogwoodDataType.Bool:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">1</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                  break;
            case DogwoodDataType.DateTime:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">2011-07-14 10:05:01.650</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                                        break;
            default:
                                                                                                                                                                                                                                                        throw new ArgumentOutOfRangeException();
        }
    }<br />
    @if (Model.RelationshipMeta.Any(m => !m.IsNullable))
    {
        <span style="color: #009900">-- required relationship values</span>
        <br />
        foreach (var meta in Model.RelationshipMeta.Where(m => m.IsNullable == false))
        {
            <text>insert into tblRelationAttributeValue(ObjectRevisionId, RelationshipMetadataId, Value) values (@@objRevId, @meta.Id, <span style="color: #cc0000">#VALUE#</span>)</text>
            <span style="color: #009900">-- @meta.Attribute.Value</span>
            <br />
        }
        <br />
    }    
    @if (Model.AttributeMeta.Any(m => m.IsNullable))
    {
        <span style="color: #009900">-- optional attribute values</span><br />
        foreach (var meta in Model.AttributeMeta.Where(m => m.IsNullable))
        {
            switch ((DogwoodDataType)meta.DataTypeId)
            {
                case DogwoodDataType.String:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">'VALUE'</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                        break;
                case DogwoodDataType.Int:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">0</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                  break;
                case DogwoodDataType.Long:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">cast(0 as bigint)</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                                  break;
                case DogwoodDataType.Bool:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">1</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                  break;
                case DogwoodDataType.DateTime:
                <text>insert into tblAttributeValue (ObjectRevisionId, AttributeMetadataId, Value) values (@@objRevId, @meta.Id, cast(<span style="color: #cc0000">2011-07-14 10:05:01.650</span> as varbinary(max)))</text> <span style="color: #009900">-- @meta.Attribute.Value</span><br />            
                                                                                                                                                                                                                                                        break;
                default:
                                                                                                                                                                                                                                                        throw new ArgumentOutOfRangeException();
            }
        }
        <br />
    }
    @if (Model.RelationshipMeta.Any(m => m.IsNullable))
    {
        <span style="color: #009900">-- optional relationship values</span>
        <br />
        foreach (var meta in Model.RelationshipMeta.Where(m => m.IsNullable))
        {
            <text>insert into tblRelationAttributeValue(ObjectRevisionId, RelationshipMetadataId, Value) values (@@objRevId, @meta.Id, <span style="color: #cc0000">#VALUE#</span>) <span style="color: #009900">-- @meta.Attribute.Value</span></text>
            <br />
        }
    }
    <span style="color: #009900">-- reset head object tables as needed</span>
    <br />
    delete from tblRevisionHeadObject
    exec dbo.spFillHeadObjects    
    </div>
