﻿@model Dogwood.Web.Mvc.Models.Class.CreateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Create Class</h1>
@using (Html.BeginForm())
{       
    <fieldset>
        <legend>New Class</legend>
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name)
                </td>
            </tr>           
        </table>
    </fieldset>
    <div class="clear">
    </div>
    <a class="button cancel" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    <input type="submit" value="Save" class="button save" />
}
