﻿@model Dogwood.Web.Mvc.Models.Class.DeleteViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Edit Bool Attribute</h1>
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Id:
            </td>
            <td>@Html.Encode(Model.Id)
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Html.Encode(Model.Name)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.Id)  
    @Html.ActionLink("Cancel", "Details", new { id = Model.Id })       
    <input type="submit" value="Delete" />
}
