﻿@model Dogwood.Web.Mvc.Models.Class.DetailsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{
    <style type="text/css">
        .attRow
        {
            background-color: #efefef;
        }
    </style>
    <link href="/Content/Fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_iframe();
        });

        function Init_iframe() {
            $(".iframe").fancybox({
                'height': 600,
                'width': 1500,
                'onClosed': function () {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: "/Class/DetailsTable/@Model.Id",
                        success: function (data) {
                            $("#detailsTable").html(data);
                            Init_iframe();
                        }
                    });
                }
            });
        }
    </script>
}
<div id="detailsTable">
    @Html.Partial("DetailsTable", Model)
</div>
