﻿@model Dogwood.Web.Mvc.Models.Class.DetailsViewModel
<h1>
    @Model.Class.Name Details</h1>
<a href="/Class/Index">Back</a><br />
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "iframe" })<br />
@Html.ActionLink("Entity View", "Entity", new { id = Model.Id }, new { @class = "iframe" })<br />
@Html.ActionLink("Create New Object", "CreateObjectSql", new { Model.Id }, new { @class = "iframe" })
<table>
    <tr>
        <td colspan="5" class="attRow">
            Attributes
        </td>
        <td>@Html.ActionLink("Create", "Create", "AttributeMeta", new { id = Model.Id }, new { @class = "iframe" })
        </td>
        <td>
            Sql
        </td>
    </tr>
    @foreach (var item in Model.Class.AttributeMetadata)
    {
        <tr>
            <td colspan="3">
                @Html.Encode(item.Attribute.Value)
            </td>
            <td>
                @Html.Encode(Dogwood.Service.AttributeMetadataService.GetDataType((Dogwood.Core.DogwoodDataType)item.DataTypeId))
            </td>
            <td>
                @Html.Encode(item.IsNullable)
            </td>
            <td>@Html.ActionLink("Edit", "Edit", "AttributeMeta", new { id = item.Id }, new { @class = "iframe" })
            </td>
            <td>
                @Html.ActionLink("Create Sql", "CreateSql", "AttributeMeta", new { item.Id }, new { @class = "iframe" })
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" class="attRow">
            Relationship Attributes as Foreign Key
        </td>
        <td>@Html.ActionLink("Create", "Create", "RelationshipMeta", new { id = Model.Id }, new { @class = "iframe" })
        </td>
        <td>
            Sql
        </td>
    </tr>
    @foreach (var item in Model.Class.RelationshipMetadataAsFk)
    {
        <tr>
            <td>
                @Html.Encode(item.Attribute.Value)
            </td>
            <td>
                @Html.Encode(item.PkClass.Name)
            </td>
            <td>
                @Html.Encode(item.OneToManyValue)
            </td>
            <td>
                @Html.Encode(item.IsNullable)
            </td>
            <td>
                @if (item.CascadeBehavior == 1)
                {
                    <text>Delete</text>
                }
                else if (item.CascadeBehavior == 2)
                {
                    <text>Set to Null</text>
                }
                else if (item.CascadeBehavior == 3)
                {
                    <text>Set to default value: @item.CascadeDefaultValue</text>
                }
            </td>
            <td>@Html.ActionLink("Edit", "Edit", "RelationshipMeta", new { id = item.Id }, new { @class = "iframe" })
            </td>
            <td>
                @Html.ActionLink("Create Sql", "CreateSql", "RelationshipMeta", new { item.Id }, new { @class = "iframe" })
            </td>
        </tr>

    }
    <tr>
        <td colspan="5" class="attRow">
            Relationship Attributes As Primary Key
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    @foreach (var item in Model.Class.RelationshipMetadataAsPk)
    {
        <tr>
            <td>
                @Html.Encode(item.Attribute.Value)
            </td>
            <td>
                @Html.Encode(item.FkClass.Name)
            </td>
            <td>
                @Html.Encode(item.OneToManyValue)
            </td>
            <td>
                @Html.Encode(item.IsNullable)
            </td>
            <td>
                @if (item.CascadeBehavior == 1)
                {
                    <text>Delete</text>
                }
                else if (item.CascadeBehavior == 2)
                {
                    <text>Set to Null</text>
                }
                else if (item.CascadeBehavior == 3)
                {
                    <text>Set to default value: @item.CascadeDefaultValue</text>
                }
            </td>
            <td>@Html.ActionLink("Edit", "Edit", "RelationshipMeta", new { id = item.Id }, new { @class = "iframe" })
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    }
</table>
