﻿@model Dogwood.Web.Mvc.Models.Class.EditViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Edit Class</h1>
@Html.ValidationSummary()
@using (Html.BeginForm())
{       
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
    </table> 
    <a class="cancel button" href="javascript:if(parent.$.fancybox){parent.$.fancybox.close();}">
        Cancel</a>   
    @Html.ActionLink("Delete", "Delete", new { id = @Model.Id }, new { target = "_parent", @class = "delete button" }) 
    @Html.HiddenFor(m => m.Id);
    <input type="submit" value="Save" class="save button" />
}
