﻿@model Dogwood.Web.Mvc.Models.Class.EntityViewModel
<div style="font-family: Consolas">
    [Serializable]
    <br />
    public partial class @(Model.Class.Name)Entity : DogwoodEntityBase
    <br />
    { 
    @foreach (var att in Model.Class.AttributeMetadata)
    {<br />
        <br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;[Mappable]</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public @Dogwood.Service.AttributeMetadataService.GetDataType((Dogwood.Core.DogwoodDataType)att.DataTypeId)</text> @att.Attribute.Value <text>{
        get; set; }</text>
    }   
    @foreach (var fkAtt in Model.Class.RelationshipMetadataAsFk)
    {        <br />
        <br />
        if (fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2) != fkAtt.PkClass.Name)
        {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;[ManyToOneRelation((int)DogwoodClasses.@fkAtt.PkClass.Name)]</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public int</text>if (fkAtt.IsNullable){<text>?</text>}<text>&nbsp;</text> @fkAtt.Attribute.Value <text>{
        get; set; }</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public @(fkAtt.PkClass.Name)Entity</text>  @(fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2)) <text>{
        get; set; }</text>
        }
        else
        {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;[ManyToOneRelation]</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public int</text>if (fkAtt.IsNullable){<text>?</text>}<text>&nbsp;</text> @fkAtt.Attribute.Value <text>{
        get; set; }</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public @(fkAtt.PkClass.Name)Entity</text>  @(fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2)) <text>{
        get; set; }</text>
        }     
    }
    @foreach (var fkAtt in Model.Class.RelationshipMetadataAsPk)
    {
        if (!string.IsNullOrEmpty(fkAtt.OneToManyValue))
        {<br />
        <br />
            if (fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2) != fkAtt.PkClass.Name)
            {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;[OneToManyRelation((int)DogwoodClasses.@fkAtt.FkClass.Name, (int)DogwoodAttributes.@fkAtt.Attribute.Value)]</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public IList&lt;</text>@(fkAtt.FkClass.Name)<text>Entity&gt;
        </text>@(fkAtt.OneToManyValue)<text> { get; set; }</text>       
            }
            else
            {
        <text>&nbsp;&nbsp;&nbsp;&nbsp;[OneToManyRelation]</text><br />
        <text>&nbsp;&nbsp;&nbsp;&nbsp;public IList&lt;</text>@(fkAtt.FkClass.Name)<text>Entity&gt;
        </text>@(fkAtt.OneToManyValue)<text> { get; set; }</text>        
            }            
        }
    }<br />
    }
</div>
