﻿@using System.Globalization
@model Dogwood.Web.Mvc.Models.Class.EntityViewModel
<div style="font-family: Consolas">    
    @foreach (var fkAtt in Model.Class.RelationshipMetadataAsFk)
    {        
        <text>
        &nbsp;&nbsp;&nbsp;&nbsp;public static PrefetchElement Prefetch@(fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2)) <br />
        &nbsp;&nbsp;&nbsp;&nbsp;{ <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;get <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var map = new ManyToOneMap <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ClassId = (int)DogwoodClasses.@fkAtt.PkClass.Name, <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RelationProperty = typeof(@(Model.Class.Name)Entity).GetProperty("@fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2)"), <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Property = typeof(@(Model.Class.Name)Entity).GetProperty("@fkAtt.Attribute.Value"), <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FkAttributeMetadataId = (int)DogwoodRelationMetadata.@(fkAtt.FkClass.Name)_@(fkAtt.Attribute.Value), <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IsNullable = @fkAtt.IsNullable.ToString(CultureInfo.InvariantCulture).ToLower() <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}; <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return new PrefetchElement(map); <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} <br />
        &nbsp;&nbsp;&nbsp;&nbsp;} 
        </text>
    }
    @foreach (var fkAtt in Model.Class.RelationshipMetadataAsPk)
    {
        if (!string.IsNullOrEmpty(fkAtt.OneToManyValue))
        {<br />       
        <text>
        &nbsp;&nbsp;&nbsp;&nbsp;public static PrefetchElement Prefetch@(fkAtt.OneToManyValue) <br />
        &nbsp;&nbsp;&nbsp;&nbsp;{ <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;get <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var map = new OneToManyMap <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ClassId = (int)DogwoodClasses.@fkAtt.FkClass.Name, <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ForeignKey = typeof(@(fkAtt.FkClass.Name)Entity).GetProperty("@fkAtt.Attribute.Value"), <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ForeignKeyProperty = typeof(@(fkAtt.FkClass.Name)Entity).GetProperty("@fkAtt.Attribute.Value.Remove(fkAtt.Attribute.Value.Length - 2)"), <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ForeignKeyAttributeId = (int)DogwoodAttributes.@fkAtt.Attribute.Value, <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PrimaryKey = typeof(@(Model.Class.Name)Entity).GetProperty("Id"), <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RelationProperty = typeof(@(Model.Class.Name)Entity).GetProperty("@(fkAtt.OneToManyValue)") <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}; <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return new PrefetchElement(map); <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} <br />
        &nbsp;&nbsp;&nbsp;&nbsp;}
        </text>
        }
    }  
</div>
