﻿@model Dogwood.Web.Mvc.Models.Class.EnumsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent{   
}
<div style="font-family: Consolas">
    
    public enum DogwoodClasses
    <br />
    {
    <br />
    @foreach (var cla in Model.Classes)
    {
        if(cla != Model.Classes.Last())
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.Name<text> = </text>@cla.Id<text>,</text><br />
        }
        else
        {
            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>@cla.Name<text> = </text>@cla.Id<br />
        }
    }     
    }
</div>
