﻿@model Dogwood.Web.Mvc.Models.Class.IndexViewModel
<h1>
    Class Types</h1>
@Html.ActionLink("Create New", "Create", null, new { @class = "iframe" })
<a href="/">Home</a>
<table>
    @foreach (var item in Model.Classes)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { item.Id })
            </td>           
        </tr>
    }
</table>
