﻿@model Dogwood.Web.Mvc.Models.Revision.DetailsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
}
<h1>
    Revision Details</h1>
<table>
    <tr>
        <td>
            Revision Id
        </td>
        <td>@Model.RevisionId
        </td>
    </tr>
    <tr>
        <td>
            Created Date
        </td>
        <td>@Model.CreatedDate
        </td>
    </tr>
    <tr>
        <td>
            Created By
        </td>
        <td>@Model.CreatedById
        </td>
    </tr>
    <tr>
        <td>
            Previous Revision In Branch
        </td>
        <td>
            @if (Model.PreviousRevisionInBranch != null)
            {
                @Html.ActionLink(Model.PreviousRevisionInBranch.ToString(), "Details", new { id = Model.PreviousRevisionInBranch })
            }
        </td>
    </tr>
    <tr>
        <td>
            Next Revision In Branch
        </td>
        <td>
            @if (Model.NextRevisionInBranch != null)
            {
                @Html.ActionLink(Model.NextRevisionInBranch.ToString(), "Details", new { id = Model.NextRevisionInBranch })    
            }
        </td>
    </tr>
</table>
<h2>@Model.RevisedObjects.Count Objects Revised</h2>
<ul>
    @foreach (var obj in Model.RevisedObjects)
    {
        <li>@Html.ActionLink(obj.ObjectId.ToString(), "Details", "Object", new { id = obj.ObjectId}, new {target="_parent" })</li>
    }
</ul>
