﻿@model Dogwood.Web.Mvc.Models.Revision.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cphHeadContent {
    <link href="/Content/Fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_iframe();
        });

        function Init_iframe() {
            $(".iframe").fancybox({
                'height': 350,
                'width': 600                
            });
        }
    </script>
}
<h1>
    Revision Tree</h1>
    <a href="/">Home</a>
<div id="attributeList">
    <ul>
        @foreach (var item in Model.RevisionTree)
        {
            <li>@item.Item.Id</li>
            @Html.Partial("RevisionTree", item)
        }
    </ul>
</div>
