﻿@model Dogwood.Web.Mvc.Models.Revision.Revision
@if (Model.Children != null)
{   
    <ul id="@(string.Format("list_{0}", Model.Item.Id))">
        @foreach (var item in Model.Children)
        {
            <li>
                @if (item.Children != null)
                {
                    <a href="javascript:void(0)" onclick="$('#@(string.Format("list_{0}", item.Item.Id)) li:visible').hide()">
                        -</a><a href="javascript:void(0)" onclick="$('#@(string.Format("list_{0}", item.Item.Id)) li:hidden').show()">+</a>
                }
                @Html.ActionLink(string.Format("{0}{1}", item.Item.Id, !string.IsNullOrEmpty(item.Item.Tag) ? string.Format(" - {0}", item.Item.Tag) : ""), "Details", new { id = item.Item.Id }, new { @class = "iframe" })
            </li>
            @Html.Partial("RevisionTree", item)
        }
    </ul>
}
